.panel-1{
    margin: 2em auto;
}
#texto{
    width: 60%;
    margin: 2em auto 0;
    display: block;
    font-size: 32px;
}
.mensaje-error, .caja-botones{
    width: 60%;
    margin: 0 auto;
}
.boton{
    width: 45%;
    height: 60px;
    font-size: 16px;
}