header{
    margin: 40px 0 0 40px;
}
main{
    width: 940px;
    height: auto;
    margin: auto;
}
.botones{
    display: block;
    margin: 0 auto;
}
.datos {
    width: 400px;
    margin: 3em auto 0 auto;
    padding: 0 5%;
}
.cajas{
    display: inline-block;
    margin: 25px 0;
    width: calc(90%/4 + 4px);
    height: 50px;
}
.imagenes{
    width: 30px;
    height: 30px;
    margin: 0 calc((100% - 30px)/2);
}
.imagenes:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.imagenes:active{
    width: 28px;
    height: 28px;
}
.nombre{
    text-align: center;
}
.creador{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}