.panel-1{
    margin: 2em auto;
}
#texto{
    width: 60%;
    margin: 2em auto 0;
    display: block;
    font-size: 32px;
    background:#F3F5FC;
    color: #0A3871;
    overflow: auto;
    resize: none;
    border: 0px;
}
::placeholder { color: #0A3871; }

#texto:focus{
    outline: 0 none;
}
.mensaje-error, .caja-botones{
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
}
.mensaje-error{
    color: #495057;
    font-size: 12px;
}
.boton{
    width: 45%;
    height: 60px;
    font-size: 16px;
    border-radius: 24px;
    border: 0px;
}
#b_guardar{
    background: #0A3871;
    color: white;
}
#b_cancelar{
    border: 1px solid #0A3871;
    background: #F3F5FC ;
    color: #0A3871;
    position: relative;
    right: -10%;
}
.boton:hover{
    opacity: 0.9;
    transition: 0.2s;
    padding: 0;
    font-size: 18px;
}
.boton:active{
    padding: 0;
    font-size: 20px;
    transition: 0.2s;
}